<!DOCTYPE html>
<html lang="en" dir="ltr" class="dark" style="color-scheme: dark;">

<head>
  <title>HOSA</title>
  <link href="./css/style.css" rel="stylesheet">
</head>

<style>
  body {
    
  }

  body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    z-index: -1;
  }
</style>

<!-- ________________________________________ LOGO STARTS ________________________________________________ -->

<body>
  <div class="radix-themes" data-is-root-theme="true" data-accent-color="indigo" data-gray-color="slate"
    data-has-background="false" data-panel-background="transluscent" data-radius="medium" data-scaling="100%">
    <div class="rt-Flex rt-r-display-flex rt-r-jc-start" style="width:100vm; height:100vh;">
      <img src="./city.svg" style="width: 100%;height: 100%;object-fit:cover;display:flex">
      <div class="rt-Flex rt-r-display-flex rt-r-jc-start"
        style="position:absolute;z-index: 1;width: 100vw;height: 100vh;align-items:center;justify-content:center;">
        <div class="rt-Flex rt-r-display-flex rt-r-fd-row rt-r-ai-center rt-r-jc-start rt-r-gap-9"
          style="width:max-content">
          <div class="rt-Flex rt-r-display-flex rt-r-fd-column rt-r-ai-center rt-r-jc-start rt-r-gap-5">
            <div class="rt-Flex rt-r-display-flex rt-r-fd-column rt-r-ai-center rt-r-jc-start rt-r-gap-3">
              <img width="300" height="95.9" viewBox="0 0 762 234" fill="none" src="./Untitled.png">
              <path fill-rule="evenodd" clip-rule="evenodd"></path>
              <mask id="path-2-outside-1_30_8" maskUnits="superSpaceOnUse" x="256" y="57" width="459" height="115"
                fill="black">
                <rect fill="white" x="256" y="57" width="459" height="115"></rect>
                <path
                  d="M312.1 64L350.8 167.5V169H336.85L326.95 141.55H281.05L271.15 169H257.5V167.5L296.05 64H312.1ZM285.25 129.85H322.75L304.3 78.55H303.7L285.25 129.85ZM361.246 169V92.35H372.196L373.246 105.25H373.846C376.996 96.7 384.646 91.45 394.096 91.45H400.996V103.6H394.996C380.446 103.6 373.846 113.8 373.846 131.8V169H361.246ZM445.193 170.35C430.043 170.35 424.943 162.55 424.943 149.8V103H412.193V92.35H425.243V76L436.043 71.8H437.543V92.35H456.293V103H437.543V148.75C437.543 156.1 440.693 159.25 447.593 159.25C451.193 159.25 453.443 158.8 455.093 158.35H456.593V169.15C454.193 169.75 449.993 170.35 445.193 170.35ZM498.122 170.35C475.472 170.35 463.322 153.25 463.322 130.75C463.322 108.55 474.272 91 497.972 91C519.572 91 531.122 107.05 531.122 128.35V134.5H476.522C476.522 149.05 483.872 159.1 498.122 159.1C508.172 159.1 515.372 154.9 517.472 146.8H530.072C527.972 160.9 514.472 170.35 498.122 170.35ZM476.672 124H518.072C518.072 111.85 511.622 102.25 497.972 102.25C483.572 102.25 477.122 112 476.672 124ZM544.586 169V92.35H555.536L556.586 105.25H557.186C560.336 96.7 567.986 91.45 577.436 91.45H584.336V103.6H578.336C563.786 103.6 557.186 113.8 557.186 131.8V169H544.586ZM601.833 77.65C595.983 77.65 593.133 74.2 593.133 68.8C593.133 63.55 595.983 60.1 601.833 60.1C607.533 60.1 610.533 63.55 610.533 68.8C610.533 74.2 607.533 77.65 601.833 77.65ZM595.533 169V92.35H608.133V169H595.533ZM646.819 170.35C630.169 170.35 620.119 160 620.119 146.65C620.119 133.75 629.269 122.65 651.769 122.65C659.869 122.65 665.869 124 670.669 125.35V117.7C670.669 109.15 665.419 101.8 652.969 101.8C641.719 101.8 636.169 108.1 636.019 115.45H623.869C623.869 100.75 636.169 91 652.969 91C672.619 91 682.969 102.85 682.969 117.4V169H672.319L671.419 158.2H670.819C666.169 166 657.619 170.35 646.819 170.35ZM649.069 159.85C662.119 159.85 670.669 150.4 670.669 139.3V135.4C664.369 133.45 658.519 132.7 651.769 132.7C639.319 132.7 632.869 137.5 632.869 146.5C632.869 154.15 637.969 159.85 649.069 159.85ZM700.943 169V58H713.543V169H700.943Z">
                </path>
              </mask>
              <span class="rt-Text"><strong>HOSA Canada </strong></span>
              <span class="rt-Text">The future of healthcare begins with future health professionals</span>
            </div>
          </div>
          <div class="rt-Separator rt-r-size-1" data-oreintation="vertical" aria-orientation="vertical" role="seperator"
            data-accent-color="gray" style="height:15rem"></div>
          <div class="rt-Flex rt-r-display-flex rt-r-fd-column rt-r-ai-center rt-r-jc-start rt-r-gap-4">
            <div class="rt-Flex rt-r-display-flex rt-r-ai-center rt-r-jc-start rt-r-gap-2">
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"></svg>
              <span style="text-align:center" class="rt-Text">Join <strong>120+</strong> planners automating
                diligence:</span>
            </div>
          </div>
          <div style="width:100%;max-width:25rem" class="rt-reset rt-Card rt-r-size-2 rt-variant-surface">
            <div class="rt-CardInner">
              <div class="rt-Flex rt-r-display-flex rt-r-fd-column rt-r-jc-start rt-r-gap-2">
                <div style="width:100%" class="rt-TextFieldRoot">
                  <input spellcheck="false" placeholder="Full Name"
                    class="rt-TextFieldInput rt-r-size-3 rt-variant-surface" value="">
                  <div class="rt-TextFieldChrome"></div>
                  <div class="rt-TextFieldSlot rt-r-size-3"></div>
                </div>
                <div style="width:100%" class="rt-TextFieldRoot">
                  <input spellcheck="false" placeholder="Email" class="rt-TextFieldInput rt-r-size-3 rt-variant-surface"
                    value="">
                  <div class="rt-TextFieldChrome"></div>
                  <div class="rt-TextFieldSlot rt-r-size-3"></div>
                </div>
                <button data-disabled="true" disabled=""
                  class="rt-reset rt-BaseButton rt-Button rt-r-size-2 rt-variant-surface">
                  Request Access
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- <h1 class="text-cyan-300 text-3xl font-bold underline"> hi</h1>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <!-- add line and then button for login with google -->
    <!-- <button type="submit">Login</button>
    </form>

    <hr>
    <form >
      <button type="submit"> Login With google</button>
    </form> --> -->
  </div>
  </div>
  </div>

</html>
</body>