<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>HOSA</title>
  </head>


  <!-- ________________________________________ LOGO STARTS ________________________________________________ -->
  <body>
    <p> hi</p>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <!-- add line and then button for login with google -->
      <button type="submit">Login</button>
    </form>
    <hr>
    <form >
      <button type="submit"> Login With google</button>
    </form>
</html>
