<!DOCTYPE html>
<html lang="en" dir="ltr" class="dark" style="color-scheme: dark;">

<head>
  <title>HOSA</title>
  <link href="./css/style.css" rel="stylesheet">
</head>

<body>
  <p> hi </p>
</body>
